html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #FFFFFF;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /*  color:#000;*/
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
}

/*ヘッダー*/

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    height: 90px;
    text-align: center;
    position: relative;
    padding-top: 15px;
}

.logo {
    height: 90px;
}

.icon {
    height: 50px;
    position: absolute;
    right: 5px;
    margin-top: 20px;
    float: right;
}



/*nabige-syon*/

.nav_bar_list {
    width: 100%;
    height: 40px;
    list-style: none;
    word-spacing: 2em;
    display: block;
    line-height: 50px;
    vertical-align: baseline;
    color: #2E2E2E;
}


.nav_bar_category {
    float: left;
    padding-right: 20px;
    background-color: #FFFFFF;
    text-align: center;
    color: #2E2E2E;
    text-decoration: none;
}

.nav_bar_category:hover {
    color: #FE2E64;
}

.post_contents ul li {
    list-style-type: none;
    background-image: none;
    padding-left: 0;
}

.slide-pic {
    height: 90%;
    max-width: 300px;
    height: auto;
}

.ninki-title {
    font-family: "ＭＳ ゴシック", sans-serif;
    font-size: ;
    padding-top: 40px;
}

.ninki-category-products {
    list-style: none;
}


.ninki-products {
    height: 200px;
    padding-right: 20px;
}
