@charset "utf-8"

.body{
font-size:18px
}

.info{
font-size: 8px
}

 .nav_bar{
    width: 100%
    /*width:800px;*/
    /*height: 30px;
    margin:0 auto;*/
    list-style:none;*/
}

.nav_bar_list{
    display:block;
    line-height:50px;
    vertical-align: baseline;
}

.nav_bar_list{
  list-style:none;
  word-spacing: 2em
}

.nav_bar_category{
   width: 133px;
   float: left;
   padding : 20px ;
   background-color:#FFFFFF;  /
   /*text-align: center;*/
   color: #2E2E2E;
}

.nav-bar_category :hover{
  background-color:#47a89c;
}

.post_contents ul li { list-style-type:none; background-image:none; padding-left:0; }

 html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

/*共通css*/
/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: 20px;
    z-index: 99;
}
.slick-prev {
     left: 15px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}
/*スライド画像の横幅可変*/
img {
    max-width: 100%;
     height: auto;
}
